
@{
    Layout = "_Layout";
    var x = @ViewBag.result;
}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="/js/script.js"></script>

<h1>Metric - @ViewBag.result</h1>
<script> var metricName = '@ViewBag.result' </script>
<canvas id="myChart" width="600" height="200"></canvas>
