
@{
    Layout = "_Layout";
    var x = @ViewBag.result;
}

<h1>Metric - @ViewBag.result</h1>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="https://localhost:44367/js/script.js"></script>
<link rel="stylesheet" href="https://localhost:44367/css/style_graph.css" />

<body>
    <script> var metricName = '@ViewBag.result' </script>
    <canvas id="myChart" width="600" height="200"></canvas>
</body>


