
@{
    Layout = "_Layout";
    string url = "";
}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<link rel="stylesheet" href="css/fm.revealator.jquery.css" />
<script src="js/fm.revealator.jquery.js"></script>

<div class="container">
  <h1 >Available metrics</h1>
  @foreach (string result in ViewBag.result)
  {
    url = $"metric/graph/{result}";
    <p class=""><a href="@url">@result</a></p>
  }
</div>
