
@{
    Layout = "_Layout";
    string url = "";
}

<div class="container">
  <h1 >Available metrics</h1>
  @foreach (string result in ViewBag.result)
  {
    url = $"metric/graph/{result}";
    <p class=""><a href="@url">@result</a></p>
  }
</div>
